body {
  background-color: whitesmoke;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(210, 160, 236);
  border: 3px dotted rgb(200, 54, 54);
  margin-bottom: 20px;
  color: whitesmoke;
}

